'exception-reporting':
  'userId': '8e6dd163-2162-4a3a-b7e9-54387659bd9c'
'release-notes':
  'viewedVersion': '0.85.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'e22313a6e9fb098f6002f691544f65ece3088c08'
'editor':
  'fontSize': 16
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/tai/develops/workspace'
'tree-view':
  'showOnLeftSide': true
